@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: "Roboto", sans-serif;

  --logo-main-color: #f9faf8;
  --secondary-link-color: #e5e7eb;
  --secondary-link-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: var(--logo-main-color);

}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

a {
  text-decoration: none;
  font-size: var(--secondary-link-size);
  color: var(--secondary-link-color);
}

.hero section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap : 5rem;
  padding: 100px 0;
}

.hero img {
  max-width: 50%;
}

.hero div {
  flex: 2;
}

.main-text {
  font-size: 48px;
  color: var(--logo-main-color);
}

.secondary-text {
  font-size: var(--secondary-link-size);
  color: var(--secondary-link-color)
}

.signup {
  background-color: #3882f6;
  border: none;
  color: var(--secondary-link-color);
  display: flex;
  padding: 4px 24px;
  border-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: space-evenly;
  padding: 0 6rem;
}

.info { 
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;

}

.info img {
  border: #3882f6 2px solid;
  border-radius: 10px;
  width: 100%;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 4rem 16rem;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
}

.author {
  font-size: 20px;
  font-weight: 900;
  align-self: flex-end;
}



footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: var(--secondary-link-color);
}